
<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <div class="jumbotron">
                    <div id="frontpage">
                        <img src="/assets/imgres-2.jpg" class="img-circle" width="125" height="125">
                        <div id="frontpagetext" class="caption">
                            <h3>Hi</h3>
                            <p>My name is Mike Fahrner.  I am currently a student at The Iron Yard</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item" id="orioles">
                <img src="assets/Orioles.png" alt="Orioles" width="100" height="100">
                <div class="carousel-caption">
                    <h3>Orioles</h3>
                    <p>Huge O's Fan!</p>
                </div>
            </div>

            <div class="item">
                <img src="assets/Redskins.gif" alt="Redskins" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Redskins</h3>
                    <p>Big Skins Fan!</p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
