<div>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="/assets/Redskins.gif" alt="...">
                <div class="caption">
                    <h3>Redskins Fan</h3>
                    <p>Huge Redskins Fan!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="/assets/Orioles.png" alt="...">
                <div class="caption">
                    <h3>O's Fan</h3>
                    <p>Even Huger Orioles Fan!</p>
                </div>
            </div>
        </div>
    </div>
</div>
